body{
    background-color: plum;
    font-family: cursive;
}
.header_div{
    background-color: white;
    color: red;
}
.header_div p{
    color: rgb(236, 166, 236);
letter-spacing: 2px;
font-family: cursive;
font-size: 12px;
font-weight: bold;
}
.main_div button{
    font-family: fantasy;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;

}
.copy_right_footer{
    position: fixed;
    color: grey;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: honeydew;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px 5px gray;


}